@import "global.css";

@media (max-width: 1100px){
	.hide-for-mobile{
		display: none;
	}

	.artist-text{
		margin-top: -2vw;
		column-count: 1;
		& p:first-child{
			margin-top: 0;
		}
	}

	.Collapsible .content-parent .intro-flex{
		& .content{
			column-count: 1;
		}
	}

	.gravity{
		& .gravity-item{
			padding: 14px 50px;
		}
	}

	.toggle-menu{
		position: fixed;
		top: 12px;
		z-index: 999;
	}

	.toggle-menu-content{
		width: 100vw;
	}

	main{
		margin-top: 65px;
	}

	.open-menu{
		margin-right: 14px;
	}

	.event-info .intro-text, .event-info .info-text{
		width: 100%;
	}

	.back-button{
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 9;
		background-color: var(--white);
		padding: 0 14px;
		border-top: 2px solid var(--black);
		border-right: 2px solid var(--black);
	}

	.navbar {
		justify-content: space-between;
		& .homebutton{
			margin-left: calc(40px + 1.5vw);
		}
		/* margin-left: 2vw; */
		background-color: var(--white);
		& .nav-items{
			flex-direction: column;
			width: 100%;
		}
	}

	.festival .navbar, .festival .back-button{
		background-color: var(--festival);
	}

	.ostre .navbar, .ostre .back-button{
		background-color: var(--ostre);
	}

	.search-link{
		margin-right: 0;
		margin-left: 2vw;
	}

	.line-up{
		columns: 2;
	}

	.lineup-item{
		max-width: 95%;
	}

	.news-page{
		justify-content: center;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
	
	.left-wrap{
		width: 100%;
	}
	
	.news-text-block{
		width: 100%;
	}

	.ReactModalPortal{
		z-index: 888;
		height: auto;
		& .hide-for-desktop{
			display: none;
		}
		& .navbar{
			display: block;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;
			height: auto;
			min-height: 100px;
			padding-bottom: 20px;
			margin-left: -1px;
			margin-top: -20px;
			& .nav-items a{
				margin-top: 14px;
				font-size: 24px;
				&:last-child{
					margin-bottom: 24px;
				}
			}
			& .homebutton{
				width: calc(90% - 25px);
			}
		}
	}

	.toggle-menu{
		margin-top: 5px;
	}

	.agenda-item{
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		& .time{
			width: auto;
		}
		& .title{
			width: auto;
		}
		& .artists{
			width: 100%;
			margin-top: 14px;
		}
		& .ticket-button{
			margin-top: 14px;
			margin-bottom: 14px;
		}
		& .ticket-info{
			justify-content: flex-end;
			text-align: right;
			width: calc(100% - 150px);
			& div{
				width: 100%;
			}
		}
		& .ticket-link{
			text-align: left;
			padding: 5px 20px;
			border: 1px solid var(--black);
			border-radius: 25px;
			height: fit-content;
			/* margin: 10px 10px 0px auto; */
		}
		& h3{
			display: flex;
			flex-direction: column;
		}
	}
	.Collapsible .trigger{
		padding: 24px 1vw;
	}
	.show-all-button{
		& h2{
			font-size: 20px;
		}
	}
	.embed{
		& iframe{
			max-width: 100%;
		}
	}
}

@media (max-width:600px){

	h2{
		font-size: 30px;
		& p{
			font-size: 30px;
		}
	}

	/* Grid Sizes */
	.w1 {
		grid-column-end: span 1;
		&.item{
			/* border: none; */
			position: static;
		}
	}
	.spacer-6.w1{
		display: block;
	}
	.w2 {
		grid-column-end: span 12;
	}
	.w3 {
		grid-column-end: span 12;
		& .header-img{
			position: relative;
			height: 100%;
			width: 100%;
			object-fit: cover;
			& img{
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
	}
	.w4 {
		grid-column-end: span 12;
		& .header-img{
			position: relative;
			height: 100%;
			width: 91vw;
			margin: 24px 0;
			overflow: hidden;
			& img{
				height: 100%;
				width: 100%;
				/* object-fit: cover; */
			}
		}
	}
	.w5 {
		grid-column-end: span 12;
	}
	.mobile-w6{
		grid-column-end: span 12;
	}
	
	.grid .item.no-border{
		border: 1px solid black;
	}

	.homebutton{
		margin: 0;
	}

	.big{
		font-size: 40px;
	}

	.grid {
		width: 100%;
		margin: 0;
		padding: 0;
		grid-template-columns: repeat(auto-fill, minmax(16.66%, 6fr));
		grid-auto-rows: calc(0.166 * 100vw);
	}

	.fake-grid{
		width: 100%;
	}

	.Collapsible{
		width: 100%;
	}

	.intro-section{
		flex-direction: column;
		padding: 10px;
		position: relative;
		width: 100%;
		boz-sizing: border-box;
		& .info-wrapper{
			width: auto;
		}
		& .img-wrapper{
			width: 100%;
		}
		& .right-column{
			border: none;
			width: 100%;
			padding: 0;
			& .artist-item{
				width: 100%;
				margin-bottom: 24px;
			}
		}
	}

	.artist-item, .news-grid-item{
		width: 100%;
	}

	#arena-content{
		& p{
			display: block;
		}
		& .arena-flex{
			& ul{
				height: auto;
			}
			& .content{
				width: 100%;
			}
			& .images{
				display: none;
			}
		}
	}

	.float{
		top: 40vh;
	}

	.grid .item .graphic-element{
		top: 0vw;
		left: 0vw;
		width: 100%;
		height: 100%;
		& img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.spacer-59:nth-last-child(-n+24){
		display: none
	}

	.spacer-72:nth-last-child(-n+13){
		display: none
	}

	.spacer-71:nth-last-child(-n+48){
		display: none
	}

	/* .spacer-12:nth-last-child(-n+7){
		display: none
	} */


	.Collapsible .trigger{
		height: auto;
	}

	/* .img-wrapper{
		margin-top: 14px;
	} */


	.overflow{
		& .img-wrapper{
			margin-left: 0vw;
			width: 100%;
		}
		& .flex{
			margin-left: 0;
			width: 98%;
		}
	}

	.w-smaller{
		width: 100%;
		height: 100%;
		margin: 0;
	}

	.Collapsible .content-parent {
		& .contact{
			width: 100%;
		}
		& .content{
			width: 95%;
			margin-right: 0;
		}
	}

	.news-section{
		flex-direction: column;
	}

	.news-grid-item{
		width: 100%;
	}

	.Collapsible .credits{
		right: 14px;
	}

	.Collapsible .grid{
		margin-top: -2px;
		margin-bottom: -2px;
		margin-left: -2px;
		width: calc(100% + 2px);
	}

	.news-item{
		width: 100%;
		height: 50%;
		border: none;
		margin-top: 14px;
		&:first-child{
			margin-top: 0;
		}
		&:last-child{
			margin-bottom: -24px;
		}
		& img{
			margin-bottom: 80px;
		}
		& .info-box{
			bottom: 0;
		}
	}

	.program{
		flex-direction: column;
		& .program-day{
			width: 100%;
		}
	}

	.event-highlight{
		& img{
			width: 100%;
			height: 90%;
			margin-left: 0%;
		}
	}

	.minus-margin{
		display: none;
		height: 0;
	}

	.tickets{
		flex-direction: column;
		& .ticket{
			width: 100%;
			height: 100px;
		}
	}

	footer{
		& .container{
			flex-direction: column;
			align-items: flex-start;
		}
		& .social-links{
			display: flex;
			flex-direction: column;
			margin: 14px 0;
			& a {
				margin: 0;
			}
		}
	}
	.line-up{
		columns: 1;
		padding-bottom: 2vw;
	}
	.main-images{
		& h2{
			font-size: var(--h2);
		}
		& .wrap{
			height: 40%;
		}
		& .kalender-img {
			top: -5%;
			left: -5%;
		}
		& .festival-img {
			top: 10%;
			right: -10%;
			left: auto;
		}
		& .ostre-img {
			top: 30%;
			left: -10%;
			height: 50%;
		}
		& .ekko-img {
			top: 60%;
			right: 0%;
		}
	}
	.dagens-program{
		& .day{
			width: 100%;
		}
	}
	.program.dagens-program .program-location-item{
		width: 100%;
	}
}


@media (min-width:1100px){
	.hide-for-desktop{
		display: none;
	}
}
