:root {
  --black: #000;
  --white: rgb(230,230,230);
  --festival: #FFD800;
  --festival_light: #EFDA6A;
  --ostre: #3EF22F;
  --ostre_light: #7EF474;

  /* Font Sizes */
  --h1: 48px;
  --h2: 30px;
  --h3: 24px;
  --h4: 18px;
  --body: 18px;
  --small: 14px;
}

/* Font */

@font-face {
  font-family: ReplicaLL;
  src: url('/fonts/ReplicaLL-Regular.otf');
  font-weight: 500;
}

@font-face {
  font-family: ReplicaLL;
  src: url('/fonts/ReplicaLL-Bold.otf');
  font-weight: 700;
}

html, body{
  scroll-behavior: smooth;
}

main{
  margin-top: 80px;
}

* {
  overflow-wrap: break-word;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.animation iframe{
  width: 100%;
  height: calc(100% + 2vw);
  position: absolute;
  z-index: -1;
  margin-top: -1vw;
  margin-bottom: -1vw;
}

p a{
  text-decoration: underline;
}

body,html{
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: ReplicaLL;
  background-color: var(--white);
  overflow-x: hidden;
  & .ReactModal__Content{
    background-color: var(--white)!important;
  }
  &.ostre{
    background-color: var(--ostre);
    & .grid, & .Collapsible, & .fake-grid{
      background-color: var(--ostre_light);
    }
    & .ReactModal__Content{
      background-color: var(--ostre)!important;
    }
  }
  &.festival{
    background-color: var(--festival);
    & .grid, & .Collapsible, & .fake-grid{
      background-color: var(--festival_light);
    }
    & .ReactModal__Content{
      background-color: var(--festival)!important;
    }
    & .agenda-item:hover{
      background-color: var(--festival_light);
    }
  }
}


h1 {
  font-size: var(--h1);
  margin: 14px 0;
  font-weight: 500;
  & span{
    font-size: var(--body);
    display: block;
  }
}
h2 {
  font-size: var(--h2);
  margin: 0;
  font-weight: 500;
  & p{
    font-size: var(--h2);
  }
}
h3 {
  font-size: var(--h3);
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
}
h4 {
  font-size: var(--h4);
  margin: 0;
  font-weight: 700;
  margin-top: 5px;
}
p {
  font-size: var(--body);
  line-height: 1.4;
  margin: 0;
}

h3 p{
  font-size: var(--h3);
}

a{
  text-decoration: none;
  color: var(--black);
}

.big {
  font-size: 5vw;
  line-height: 1;
  & a {
    font-size: 5vw;
    line-height: 1.4;
    margin: 10px;
  }
}

/* Grid Sizes */
.w1 {
  grid-column-end: span 1;
}
.w2 {
  grid-column-end: span 4;
}
.w3 {
  grid-column-end: span 6;
}
.w4 {
  grid-column-end: span 8;
}
.w5 {
  grid-column-end: span 10;
}
.w6 {
  grid-column-end: span 12;
}

.l1{
  grid-row-end: span 1;
}
.l2{
  grid-row-end: span 2;
}
.l3{
  grid-row-end: span 3;
}
.l4{
  grid-row-end: span 4;
}
.l5{
  grid-row-end: span 5;
}
.l6{
  grid-row-end: span 6;
}

.w-smaller{
  width: 90%;
  height: 90%;
  margin: 5%;
}

/* other */
.flex {
  display: flex;
  flex-wrap: wrap;
  &.space-between {
    justify-content: space-between;
  }
}

.align-bottom{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.white-bg{
  background-color: var(--white);
  padding: 1vw;
}

.columns{
  column-count: 2;
}

.offset{
  margin-top: auto;
  height: auto;
}

.padding-right{
  padding-right: 8vw;
  word-break: break-word;
}

.no-padding{
  margin: -1vw;
}

.grid.no-margin-top{
  margin-top: 0;
}

.search-link{
  position: relative;
  margin-right: 2vw;
  margin-left: auto;
  font-size: var(--h2);
}

.search-bar{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  width: 90vw;
  height: 50px;
  & input{
    border: none;
    font-size: var(--h2);
    width: 100%;
    text-transform: capitalize;
    background-color: inherit;
  }
  & img{
    height: 50px;
  }
}

.artist{
  filter: grayscale(1);
}

.ReactModal__Overlay{
  z-index: 888;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: transparent!important;
  & .navbar{
    top: 24px;
    height: calc(100vh - 24px);
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: stretch;
    /* align-items: center; */
  }
}

/* Menu */
.open-menu{
  width: 40px;
  height: 40px;
  -webkit-mask-image: url('/menu-icon.svg');
  mask-image: url('/menu-icon.svg');
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat; 
  background-color: var(--black);
  margin-right: 5vw;
  cursor: pointer;
}

.close-menu{
  position: absolute;
  top: 0px;
  right: 10px;
  width: 40px;
  height: 40px;
  font-size: 50px;
  color: var(--black);
  cursor: pointer;
  z-index: 999;
}

/* From styles.scss */

body {
  margin: 0;
}

.center {
  display: block;
  margin: auto;
}

.toggle-menu{
  background-color: var(--black);
  width: 23px;
  height: 23px;
  border-radius: 50%;
  margin-left: 1.5vw;
  cursor: pointer;
  border: 2px solid var(--black);
  &:hover{
    background-color: transparent;
  }
}

.toggle-menu-content{
  padding: 0 3vw 1vw 1vw;
  margin-top: 22px;
  border-bottom: 2px solid var(--black);
  border-right: 2px solid var(--black);
  & .links{
    display: flex;
    flex-direction: column;
    font-size: var(--h2);
    margin-left: calc(2.5vw + 25px);
    padding-top: 14px;
    & a{
      margin-bottom: 14px;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  width: 100vw;
  background-color: inherit;
  z-index: 3;
  top: 0;
  padding: 10px 0;

  & .nav-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1000px;
    padding: 14px 0;
    margin-left: 2vw;

    & .active{
      text-decoration: underline;
    }

    & a {
      font-size: var(--h4);
      text-decoration: none;
      margin: 0 14px;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

p a:hover, .social-links a:hover{
  text-decoration: underline;
}

.homebutton {
  font-size: var(--h2);
  margin-left: 2vw;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.video-wrapper{
  position: relative;
  width: 100%;
  padding-top: 60%;
  overflow: hidden;
  & iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.grid {
  width: 90vw;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8.333%, 12fr));
  grid-gap: 0px;
  grid-auto-rows: calc(0.0833 * 90vw);
  margin: -2px;
  position: relative;
  overflow: hidden;

  &.no-border{
    border: none;
  }

  & .item {
    border: 1px solid black;
    position: relative;
    &.no-border{
      border: none;
    }
    &.overflow{
      overflow: visible;
    }
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 1vw;
    object-fit: cover;
    height: 100%;

    &.w6{
      padding-top: 0;
      padding-right: 0;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & .info {
      word-wrap: break-word;
      width: 60%;
    }
  }
}

.float{
  position: absolute;
  overflow: visible;
  white-space: nowrap;
}


.grid .item .graphic-element{
    position: absolute;
    object-fit: contain;
    object-position: center;
    width: calc(12 * 100% + 1.5vw);
    left: 0;
    height: calc(5 * 100%  + 1.5vw);
    z-index: 1;
    margin-top: -1vw;
    display: flex;
    justify-content: space-between;
    & img{
      width: 50%;
      height: auto;
      object-fit: contain;
    }
}

.float.title{
  top: 215%;
  margin-top: 0.6vw;
  left: 520%;
  transform: translate(0, -50%);
  font-size: 2.3vw;
  line-height: 1;
}

.float.intro{
  top: calc(215% + 3vw);
  line-height: 1;
  left: 520%;
  transform: translate(0, -50%);
  font-size: 2.3vw;
  margin: 0;
  & p{
    line-height: 1;
    font-size: 2.3vw;
  }
}

body.festival .festival-page-grid{
  margin-bottom: -2px;
}

.animation{
  position: absolute;
  top: 2.5%;
  left: 0;
  width: 100%;
  height: 95%;
  display: flex;
  justify-content: center;
  & img{
    height: 100%;
    width: auto;
    max-height: 100%;
    max-width: 95%;
    object-fit: contain;
  }
}

.header-img{
  right: 0;
  top: 0;
  position: absolute;
  & img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.ticket{
  display: flex;
  justify-content: space-between;
}

.ticket-wrapper{
  margin: 24px 0 48px 0;
}

.program{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 24px;
  & .program-day{
    width: calc(100% / 3 + 2px);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0 -1px;
    padding-bottom: 14px;
    & .date{
      padding: 0px 2vw;
      margin: 0 -1px;
    }
    & .performances{
      padding: 1vw;
    }
    & .location{
      margin: 14px 0;
      font-size: var(--h4);
    }
    & .performance{
      margin: 0px 0;
      padding: 1px 0;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      &:hover{
        text-decoration: underline
      }
    }
    & .flex{
      width: 100%;
    }
    & .time{
      width: 75px;
    }
    & .artist{
      width: calc(100% - 75px);
    }
  }

  & .program-location-item{
    padding: 10px 1vw 0px 2vw;
    font-size: var(--body);
  }

  
}

.Collapsible{
  width: calc(90vw + 2px);
  height: 100%;
  position: relative;
  margin-top: -1px;
  overflow: hidden;
  & .trigger{
    text-transform: capitalize;
    height: calc(0.0833 * 90vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid var(--black);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 1vw;
    margin-bottom: -2px;
    border-bottom: 0;
    & span{
      margin-left: 2vw;
      /* text-transform: uppercase; */
      font-size: var(--h2);
    }
  }
  & span{
    width: 100%;
    font-size: var(--p);
  }
  & .content-parent{
    overflow: hidden;
    transition: all 0.4s ease;
    height: 0;
    &.open{
      /* padding: 1vw; */
      border: 2px solid var(--black);
      margin-top: -2px;
      /* margin-bottom: -4px; */
      /* padding-bottom: 24px; */
      border-bottom: 0;
      border-top: 0;
      height: 100%;
    }
    & .flex{
      width: calc(100% - 2vw);
      /* padding-left: 2vw; */
      &.content{
        /* margin-left: 0; */
      }
    }
    & .contact{
      width: 39%;
      position: relative;
      & img{
        width: 100%;
        height: auto;
      }
    }
    & .content{
      width: 53%;
      margin-left: 5%;
      padding-bottom: 24px;
    }
  }
}

.festival #news{
  background-color: transparent;
  &.trigger{
    background-color: var(--festival_light);
  }
}

.festival{
  & .info-box{
    background: var(--festival_light);
  }
}

.ostre #news{
  background-color: transparent;
  &.trigger{
    background-color: var(--ostre_light);
  }
}

.ostre{
  & .info-box{
    background: var(--ostre_light);
  }
}

#ostre-content.open, #about-content.open, #ekko_festival_info-content.open{
  padding: 2vw;
}

.news-item{
  width: 47.5%;
  border: 1px solid black;
  position: relative;
  aspect-ratio: 4 / 3; 
  margin-left: 2%;
  & img{
    width: 100%;
    height: 100%;
    aspect-ratio: 4 / 3; 
    object-fit: cover;
    filter: grayscale(1);
    margin-bottom: -100px;
    z-index: -1;
    &:hover{
      filter: none;

    }
  }
  & .info-box{
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 2em;
    position: absolute;
    min-height: 80px;
    margin-left: -2px;
    width: calc(100% - 38px);
    bottom: -82px;
    z-index: 2;
    & p{
      font-size: var(--body);
      line-height: 1.2;
    }
  }
}

.event-highlight{
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  & img{
    width: calc(0.0833 * 90vw * 12);
    height: calc(0.0833 * 90vw * 5);
    object-fit: cover;
    /* margin-left: calc(0.0833 * 90vw); */
    /* filter: grayscale(1); */
    &:hover{
      filter: none;
    }
  }
  & .info-box{
    padding: 20px 20px;
    border: 1px solid black;
    border-radius: 2em;
    position: absolute;
    height: auto;
    min-height: 80px;
    width: auto;
    bottom: 40px;
    left: 0;
    & p{
      font-size: var(--body);
      line-height: 1.2;
      margin-bottom: 14px;
    }
  }
}

.tickets{
  border-top: 1px solid var(--black);
  margin-left: -1px;
  margin-right: -1px;
  & .ticket{
    background-color: transparent;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    border: 1px solid black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 2vw;
  }
}

.artists{
  & span {
    &:after{
      content: ", ";
    }
    &:last-child{
      &:after{
        content: "";
      }
    }
  }
}

footer{
  font-size: var(--h3);
  padding: 48px 0;
  & .social-links a{
    margin-left: 24px;
  }
  & .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
  & a:hover{
    text-decoration: underline;
  }
}

.minus-margin{
  z-index: -1;
}

/* agenda */

.agenda-item{
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--black);
  width: 96%;
  padding: 2%;
  &:hover{
    background-color: var(--ostre_light);
  }
  & .indicator{
    font-size: var(--small);
  }
  & .time{
    width: 20%;
  }
  & .title{
    width: 15%;
  }
  & .artists{
    width: 30%;
  }
  & .ticket-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
  }
  & .ticket-button{
    width: 150px;
    text-align: right;
  }
  & .ticket-link{
    text-align: right;
    padding: 10px 20px;
    border: 1px solid var(--black);
    border-radius: 25px;
    height: 100%;
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
  }
  & .no-ticket{
    opacity: 0.5;
    &:hover .ticket-link{
      background-color: inherit;
    }
  }
  & h3{
    display: flex;
    flex-direction: column;
  }
  & p{
    font-size: var(--h3);
  }
}

.ticket-link.button{
  text-align: right;
  padding: 5px 20px;
  border: 1px solid var(--black);
  border-radius: 25px;
  height: 100%;
  width: fit-content;
  margin-left: auto;
  margin-right: 0;
  font-size: var(--small);
}

.show-all-button-simple{
  display: block;
  margin: 48px 14px 14px auto;
  padding: 10px 20px;
  background-color: inherit;
  border: 1px solid var(--black);
  width: fit-content;
  border-radius: 25px;
}

.show-all-button{
  padding: 10px 20px;
  background-color: inherit;
  border: 1px solid var(--black);
  width: fit-content;
  position: absolute;
  z-index: 2;
  right: 0;
  white-space: nowrap;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 25px;
  &:hover{
    background-color: var(--white);
  }
}


.button{
  padding: 10px 30px;
  background-color: transparent;
  border: 1px solid var(--black);
  width: fit-content;
  border-radius: 25px;
  &:hover{
    background-color: var(--white);
  }
}

.margin-bottom{
  margin-bottom: 24px;
}

.margin-top{
  margin-top: 24px;
}

.line-up{
  padding-bottom: 4vw;
  columns: 3;
}

.lineup-text{
  padding-left: 2vw;
  & p{
    font-size: var(--small);
  }
}

.lineup-item{
  line-height: 1.3;
  padding-left: 2vw;
  font-size: var(--h3);
  width: 100%;
  max-width: 300px;
  & a{
    width: 100%;
    display: block;
  }
  & sup{
    font-size: var(--small);
    line-height: 1;
    display: inline-block;
    padding-top: 15px;

  }
  &:hover{
    text-decoration: underline
  }
}

.padding{
  padding: 0 1vw 1vw 1vw;
}

.artists-section, .news-section{
  display: flex;
  flex-wrap: wrap;
}

.news-page{
  justify-content: center;
  display: flex;
  justify-content: space-between;
}

.left-wrap{
  width: 48%;
}

.news-text-block{
  width: 48%;
}

.Collapsible .content-parent .content, .contact{
  margin-left: 2vw;
}

#arena-content{
  & .content{
    width: 40%;
    margin-right: 0;
    margin-left: 2vw;
  }
  & ul{
    height: 300px;
    list-style-type: none;
    padding: 0;
    font-size: var(--body);
    margin-bottom: 24px;
    & a{
      text-decoration: underline;
      &:after {
        content: " ";
        width: 20px;
        height: 20px;
        margin-left: 10px;
        position: absolute;
        background-image: url('/location.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  & .arena-flex{
    display: flex;
    width: 98%;
    justify-content: space-between;
    & .images{
      width: 40%;
    }
    & img{
      width: 100%;
      height: 300px;
      object-fit: cover;
      margin-bottom: 24px;
    }
  }
}

.artist-item, .news-grid-item {
  display: block;
  width: calc(100% / 3 );
  border: 1px solid var(--black);
  margin-left: -1px;
  margin-right: -1px;
  & .info-bar{
    padding: 1vw 1vw 1vw 1vw;
  }
  & .img-wrapper{
    width: 100%;
    /* margin-left: 1px; */
    & img{
      width: calc(100%);
      height: 100%;
      object-fit: cover;
      object-position: center;
      aspect-ratio: 4 / 4;
    }
  }
}

.news-grid-item{
  width: calc(100% / 4 );
}

.img-wrapper{
  & img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.fake-grid{
  width: calc(90vw + 2px);
  border: 2px solid var(--black);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-top: -2px;
  margin-bottom: -2px;
}


.intro-section{
  display: flex;
  & .info-wrapper{
    width: calc(50% - 2vw);
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    & .host{
      margin-bottom: 10px;
    }
    & h2{
      margin-top: 24px;
    }
    & h1{
      margin: 0;
      line-height: 1;
    }
  }
  & .img-wrapper{
    width: 50%;
    border-left: 2px solid var(--black);
    & img{
      aspect-ratio:  4 / 3;
    }
  }
}

.event-info{
  padding: 2vw;
  & .info-text{
    width: 48%;
  }
  & .intro-text{
    width: 48%;
  }
}

.embed{
  margin-top: 24px;
  display: inline;
  margin-right: 1%;
  & iframe{
    width: 100%;
    height: 100%;
    max-width: 600px;
    aspect-ratio:  16 / 9;
    margin-top: 24px;
    border: none;
  }
}

.back-button{
  position: fixed;
  left: 1vw;
  font-size: 40px;
}

.Collapsible .credits{
  position: absolute;
  right: 5px;
  top: 10px;
  width: fit-content;
  background-color: var(--black);
  color: var(--white);
  font-size: 12px;
  padding: 2px 10px;
  border-radius: 25px;
  font-weight: 100;
}

.slick-slider{
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  & .slick-list{
    height: 100%;
  }
  & .slick-track{
    height: 100%;
    display: block;
    margin: auto;
  }
  & .slick-next{
    right: 14px;
    z-index: 777;
  }
  & .slick-prev{
    left: 14px;
    z-index: 777;
  }
}
.festival .slick-slide img{
  border-radius: 0;
}
.slide-wrapper{
  position: relative;
}
.slick-slide{
  height: 100%;
  & div{
    height: 100%;
    & div{
      height: 100%;
    }
  }
  & img{
    width: 95%;
    height: 100%;
    object-fit: cover;
    margin-left: 2.5vw;
    border-radius: 0 0 25px 25px;
    aspect-ratio: 1/1;
  }
  opacity: 0.3;
  &.slick-current{
    opacity: 1;
    & .info-box{
      opacity: 1;
    }
  }
  & .info-box{
    opacity: 0;
    padding: 10px 20px;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 25px;
    position: absolute;
    height: auto;
    min-height: 80px;
    width: calc(100% - 2vw);
    max-width: 94vw;
    bottom: -4px;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    & p{
      font-size: var(--body);
      line-height: 1.2;
    }
  }
 
}


.slick-dots li button:before, .slick-next:before, .slick-prev:before{
  font-family: ReplicaLL!important;
}

.slick-next:before, .slick-prev:before{
  color: var(--black)!important;
  font-size: 48px!important;
}

.slick-next, .slick-prev{
  width: 50px!important;
  height: 50px!important;
}

.main-images{
  width: 100%;
  position: absolute;
  height: 100%;
  object-fit: contain;
  & h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    font-weight: 300;
    z-index: 2;
    font-size: 2.5vw;
  }
  & .wrap{
    position: absolute;
    height: 50%;
    transition: all 0.4s ease;
    cursor: pointer;
    &:hover{
      & img{
        transform: rotate(90deg);
      }
    }
  }
  & img{
    width: auto;
    height: 100%;
    transition: all 0.4s ease;
  }
  & .kalender-img {
    top: 0;
    left: 5%;
    animation: float-1 12s ease-in-out infinite alternate;
  }
  & .festival-img {
    top: 10%;
    left: 5%;
    animation: float-2 8s ease-in-out infinite alternate;
    animation-direction: reverse;
    height: 70%;
  }
  & .ostre-img {
    top: -10%;
    left: 25%;
    height: 105%;
    animation: float-3 10s ease-in-out infinite alternate;
    animation-direction: reverse;
  }
  & .ekko-img {
    top: 5%;
    right: 10%;
    animation: float-2 10s ease-in-out infinite alternate;
  }
}

.min-height{
  height: 75vh;
  border: none;
}

.Collapsible .content-parent .flex.tickets{
  padding-left: 0;
  width: calc(100% + 3px);
}

@keyframes float-1 {
	0%   { transform: translate(0px);}
	25%  { transform: translate(-10px, 2px); }
  50%  { transform: translate(-5px, 0px); }
  75%  { transform: translate(-10px, -2px); }
  100%  { transform: translate(0px); }
}

@keyframes float-2 {
	0%   { transform: translate(0px);}
	25%  { transform: translate(2px, -10px); }
  50%  { transform: translate(2px, 0px); }
  75%  { transform: translate(2px, 10px); }
  100%  { transform: translate(0px); }
}

@keyframes float-3 {
	0%   { transform: translate(0px);}
	25%  { transform: translate(10px, -10px); }
  50%  { transform: translate(-10px, 10px); }
  75%  { transform: translate(10px, 10px); }
  100%  { transform: translate(0px); }
}

.artist-running-list{
  & a:hover{
    text-decoration: underline;
  }
  & a:after{
    content: ", ";
  }
  & a:last-child:after{
    content: "";
  }
}

.info-text{
  & p{
    display: flex;
    width: fit-content;
    justify-content: space-between;
    width: 100%;
    & span{
      text-align: left;
      width: calc(100% - 120px);
      &:first-child{
        width: 120px;
      }
    }
  }
}

.dagens-program{
  & .day{
    margin-left: 2vw;
    width: 30%;
  }
  & .performances{
    margin-top: 14px;
    margin-bottom: 14px;
  }
  & .performance{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: var(--body);
    margin-bottom: 5px;
    &:hover{
      text-decoration: underline
    }
    & .time{
      width: 30%;
    }
    & .artist{
      width: 70%;
    }
  }
  padding-bottom: 24px;
}

.program.dagens-program{
  & .date{
    width: 100%;
  }
  & .program-day{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  & .program-location-item{
    width: 28%;
  }
}

.artist-text{
  margin-top: -2vw;
  column-count: 2;
  & p:first-child{
    margin-top: 0;
  }
}

.contact, .content, .intro-text, .description, .collapsible-content{
  & p{
    margin: 14px auto;
  }
}

.cap{
  text-transform: capitalize;
}

.bottom-links{
  width: 98%;
  margin-bottom: 10px;

}

.social-links-artist{
  display: flex;
  & a {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('/web.svg');
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
    &[class^="Soundcloud"], &.Soundcloud{
      background-image: url('/soundcloud.svg')
    }
    &[class^="Bandcamp"], &.Bandcamp{
      background-image: url('/bandcamp.svg')
    }
    &[class^="Instagram"], &.Instagram{
      background-image: url('/instagram.svg')
    }
    &[class^="Spotify"], &.Spotify{
      background-image: url('/spotify.svg')
    }
    &[class^="Facebook"], &.Facebook{
      background-image: url('/facebook.svg')
    }
    &[class^="Youtube"], &.Youtube{
      background-image: url('/youtube.svg')
    }
  }
}